@model Web.Models.LocalPasswordModel

@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
{
  @Html.ValidationSummary()

  <fieldset>
    <legend>Change password.</legend>
    <div class="control-group">
      @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
      <div class="controls">
        <input id="NewPassword" name="NewPassword" type="password" value="@Model.NewPassword" />
      </div>
    </div>
    <div class="control-group">
      @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
      <div class="controls">
        <input id="ConfirmPassword" name="ConfirmPassword" type="password" value="@Model.ConfirmPassword" />
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <input type="submit" value="Change password" class="btn" />
      </div>
    </div>
  </fieldset>
}
