@model Web.Models.RegisterModel
@{
  ViewBag.Title = "Register";
}

<hgroup>
  <h1>@ViewBag.Title.</h1>
</hgroup>

<form action="@Url.Action("Register", "Account", new {ViewBag.ReturnUrl}, "https")" method="post" class="form-horizontal">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <fieldset>
        <legend>Create a new account.</legend>
        <div class="control-group">
            @Html.LabelFor(m => m.Email, new {@class = "control-label"})
            <div class="controls">
                @Html.TextBoxFor(m => m.Email)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.FirstName, new {@class = "control-label"})
            <div class="controls">
                @Html.TextBoxFor(m => m.FirstName, new {data_val_regex_pattern = "^([a-zA-Z]+)$", data_val_regex = "Invalid First name"})
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.LastName, new {@class = "control-label"})
            <div class="controls">
                @Html.TextBoxFor(m => m.LastName, new {data_val_regex_pattern = "^([a-zA-Z]+)$", data_val_regex = "Invalid Last name"})
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.Password, new {@class = "control-label"})
            <div class="controls">
                @Html.PasswordFor(m => m.Password)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.ConfirmPassword, new {@class = "control-label"})
            <div class="controls">
                @Html.PasswordFor(m => m.ConfirmPassword)
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input type="submit" value="Register" class="btn"/>
            </div>
        </div>
    </fieldset>
</form>
