@model Web.Models.PasswordResetModel

@{
  ViewBag.Title = "Reset password";
}

<hgroup>
  <h1>@ViewBag.Title.</h1>
</hgroup>

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
  @Html.ValidationSummary()

  <fieldset>
    <legend>Enter your email address to reset.</legend>
    <div class="control-group">
      @Html.LabelFor(m => m.Email, new { @class = "control-label" })
      <div class="controls">
        @Html.TextBoxFor(m => m.Email)
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <input type="submit" value="Reset" class="btn" />
      </div>
    </div>
  </fieldset>
}