@using Web.Models
@model IEnumerable<UserProfile>

@{
  ViewBag.Title = "Users";
}

<h2>@ViewBag.Title</h2>

<table id="results" class="table table-striped">
  <thead>
    <tr>
      <th>Email</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Password</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var user in Model)
    {
      <tr>
        <td><a href="mailto:@user.Email">@user.Email</a></td>
        <td>@user.FirstName</td>
        <td>@user.LastName</td>
        <td>@user.Password</td>
      </tr>
    }
  </tbody>
</table>
